.prontuario-container {
    margin-left: 120px;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.prontuarios {
    height: 100%;
    gap: 50px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: aquamarine;
}

.input-area input {
    width: 700px;
    height: 45px;
    border-radius: 10px;
    background: #f6f3f1;
    border: none;
    padding: 12px;
    font-size: 18px;
}

.pacientes {
    width: 2000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80%;
}

.title-pacientes {
    width: fit-content;
    font-size: 25px;
}

.container {
    height: 100%;
    background-color: mediumorchid;
    display: flex;
    flex-wrap: wrap;
}

.box-paciente {
    width: 130px;
    flex: 1;
    height: 120px;
    background-color: aliceblue;
}