.sidebar {
    background-color: #F6F3F1;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    justify-content: space-around;
    height: 90%;
}

.ul li a {
    color: #D1D1D6;
    text-decoration: none;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.img_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}